body {
  background: #0d1117;
}

table {
  width: 100%
}

th {
  color: white;
  text-align: left;
  padding: 0 0 10px 0;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}


td {
  text-align: left;
  padding: 10px 0px 10px 0px;
  color: white;
  border-right: 1px solid white;
}

tbody>tr:hover {
  background: #023412;
}

h1{
  color: white;
}